*{
    padding: 0;
    margin: 0;
}
.header{
    width: 100%;
    height: 90px;
    background-color: rgba(99, 112, 194, 0.808);
    position: fixed;
    opacity: 60%;
    left: 0;
    top: 0;
}

.pearnt{
background-image:url(img/hh.jpg); width:100%; 
height:100vh;
background-repeat: no-repeat;
background: cover;
background-size: cover;
 padding:0;
 margin:0;
}
button{
     background-color: rgb(89, 122, 165);
    width:300px;
    height: 75px;
    border-radius: 50px;
    border: none;
    font-size:20px;
    color: aliceblue;
    margin-top: 40px;
}
button:hover{
    width: 333px;
    height: 80px;
    /*margin-top: 405px*/
    font: size 22px;
    background-color:rgb(0, 56, 159);
}
.list1{
    margin-right: 60px;
float:right;
display:inline;
margin-top: -49px;
}
.list1 li{
    display: inline-block;
    margin-right:20px;
    margin-top:50px;
    padding-bottom: 26px;
    padding-top:33px ;
  
}
.list1 li a{
    color: rgb(255, 255, 255);
    text-decoration:none;
    font-size: 25px;
    text-transform:capitalize;
}
li:hover{
    background-color:rgb(48, 59, 150);
    border-bottom: 2px solid rgb(251, 251, 253);
     
} 
h1{
    font-size:55px;
    display: inline;
    color: aliceblue;
    margin-top:50px;
 }
.overlay{
    width: 100%;
    height: 100vh;
background-color:rgba(0, 0, 0, 0.7);
 }
.div1{
    width: 80%;
    height: 300px;
position: absolute;
top:50%;
left: 50%;
transform: translate( -50% , -50%);
text-align: center;
word-spacing:15px;
text-transform: capitalize;
}
h2{
    color: aliceblue;
    display: inline;
}
h3{
    color: midnightblue;
    display: inline;
}
h2,h3{
    font-size: 50px;
    text-align:center;
}
p{
    font-size:25px;
    color: aliceblue;
    margin: 30px;
 }
.button2{
    background-color: rgb(255, 255, 255);
   width:300px;
   height: 75px;
   border-radius: 50px;
   border: none;
   font-size:20px;
   color: rgb(48, 122, 187);
   margin-top: 40px; 
   margin-left: 20px;
}
.button2:hover{
   width: 333px;
   height: 80px;
   font: size 22px;
   background-color:rgb(219, 221, 223);
}
body{
    height: 4000px;
}
/*////////////////////////////////////////////////////////////sec2///////////////////////////////////////////////////////////////////*/
h4{
    text-align: center;
color: rgb(0, 56, 159);    
font-size: 50px;
}
.best-offers{
    background-color: rgb(255, 255, 255);
    height: 100vh;
    margin-top:100px;
}
.best-offers2{
height:380px;
 background-color:  rgba(194, 202, 255, 0.808);
position: relative;
  margin: 100px auto;  
  display: flex;
}
.hrr{
    width: 150px;
    height: 5px;
    background-color: cornflowerblue;
    border:0cap;
    border-radius: 50%;
    margin: 0 auto;
}
.box{ 
width: 30%;
height: 250px;
background-color: bisque;
position: relative;
margin: auto;
}
.b1{
background-image:url(img/سرير.jpeg);
 background-size: cover;
}
.b2{
    background-image:url(img/كنبه.jpeg);
    background-size: cover;
}
.b3{
    
    background-image: url(img/مكتبه.jpeg);
    background-size:cover;
}
.n1{
    margin-left: 250px;
}
.n{
    width: 18px;
    height: 18px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
 }
.number{
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 10px;
}
.n3{
    width: 18px;
    height: 18px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    margin-left: 500px;
}
  .n2{
    width: 18px;
    height: 18px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    margin-left:450px;
}
.fame{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    visibility: hidden;
    opacity: 0;
    transition: 3s;
}
.box:hover .fame{
visibility: visible;
opacity: 1;
}
 .link{
    font-size: 30px;
    text-decoration:none;
    color:  rgba(194, 202, 255, 0.808);
}
.p1{
    font-size:19px;
    text-transform: capitalize;
}